.help_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  padding-top: 60px;
}

.help_page_content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-color: var(--White, #ffffff);
  width: 50%;
  padding: 40px;
}

.help_page_contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.help_page_links {
  display: flex;
  gap: 5px;
}
