.btn_tab {
  cursor: pointer;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  color: var(--Black, #02020b);
  padding: 15px 10px;
}

.btn_link {
  cursor: pointer;
  color: var(--Dark-grey, #aab1bb);
  background-color: transparent;
}

.btn_link:hover,
.btn_link:focus {
  color: var(--Light-red, #fd484d);
}

.btn_red {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 2px;
  background: var(--Red, #f05365);
  border: 0px;
}

.btn_red:hover {
  background: var(--Light-red, #ff697a);
}

.btn_red:active {
  background: var(--Light-red, #ff697a);
}

.btn_black {
  cursor: pointer;
  display: flex;
  background-color: var(--Black, #02020b);
  justify-content: center;
  align-items: center;
  color: var(--White, #ffffff);
  border: 1px solid var(--Black, #02020b);
  border-radius: 2px;
  padding: 10px;
}

.btn_black_selected {
  cursor: pointer;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  color: var(--Black, #02020b);
  border: 1px solid var(--Black, #02020b);
  padding: 10px;
}

.btn_black:hover {
  background: #282833;
}
.btn_black:active {
  color: var(--Black, #02020b);
  background: var(--Background, #fbfbfb);
}

.btn_black_select {
  cursor: pointer;
  display: flex;
  background: var(--Background, #fbfbfb);
  justify-content: center;
  align-items: center;
  color: var(--Black, #02020b);
  border: 1px solid var(--Black, #02020b);
  padding: 10px;
}

.btn_show_content {
  cursor: pointer;

  background: var(--Red, #f05365);
  color: var(--White, #ffffff);
  border-radius: 2px;
  border: 0;
  padding: 5px;

  font-family: Geologica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.icon_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  padding: 5px;
}

.icon_button:hover {
  background-color: var(--White, #ffffff);
  border-radius: 50%;
}

.icon_button_black {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Black, #000000);
  border: 0;
  padding: 6px;
  border-radius: 50%;
}
