.nebula_btn_tab {
  cursor: pointer;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  color: var(--Black, #02020b);
  padding: 15px 10px;
}

.nebula_btn_tab:hover {
  color: var(--Light-red);
}
.nebula_btn_tab:focus-visible {
  border-style: 1px solid var(--Black, #02020d);
}

.nebula_btn_link {
  cursor: pointer;
  color: var(--Black, #aab1bb);
  background-color: transparent;
}

.nebula_btn_link:hover,
.nebula_btn_link:focus-visible {
  color: var(--Light-red, #fd484d);
}

.nebula_btn_red {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 2px;
  background: var(--Red, #f05365);
  border: 0px;
}

.nebula_btn_red:hover {
  background: var(--Light-red, #ff697a);
}

.nebula_btn_red:active {
  background: var(--Light-red, #ff697a);
}

.nebula_btn_black {
  cursor: pointer;
  display: flex;
  background-color: var(--Black, #02020b);
  justify-content: center;
  align-items: center;
  color: var(--White, #ffffff);
  border: 1px solid var(--Black, #02020b);
  border-radius: 2px;
  padding: 10px;
}

.nebula_btn_black:hover:enabled {
  background: var(--Light-black, #282833);
}
.nebula_btn_black:active:enabled {
  color: var(--Black, #02020b);
  background: var(--Background, #fbfbfb);
}
.nebula_btn_black:disabled {
  background-color: var(--Dark-grey);
  border: 1px solid var(--Dark-grey);
}

.nebula_btn_black:focus-visible {
  outline: 2px solid var(--Red);
}

.nebula_btn_black_selected {
  cursor: pointer;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  color: var(--Black, #02020b);
  border: 1px solid var(--Black, #02020b);
  padding: 10px;
}

.nebula_btn_black_selected:focus-visible {
  outline: 2px solid var(--Red);
}

.nebula_btn_show_content {
  cursor: pointer;

  background: var(--Red, #f05365);
  color: var(--White, #ffffff);
  border-radius: 2px;
  border: 0;
  padding: 5px;

  font-family: Geologica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.nebula_btn_show_content:hover {
  background: var(--Light-red, #ff697a);
}

.nebula_icon_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  padding: 5px;
}

.nebula_icon_button:hover {
  background-color: var(--White, #ffffff);
  border-radius: 50%;
}

.nebula_icon_button_black {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Black, #02020d);
  border: 0;
  padding: 6px;
  border-radius: 50%;
}

.nebula_icon_button_toolip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
