.tags_input {
  display: flex;
  flex-direction: column;
  grid-column: 3 / 4;
  gap: 20px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White, #fff);
  padding: 0 4px;
  font-size: 12px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: var(--Black, #02020b);

  > .tag_close_icon {
    display: block;
    width: 12px;
    height: 12px;
    text-align: center;
    font-size: 10px;
    line-height: 100%;
    font-weight: 700;
    margin-left: 8px;
    color: #000000;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
}
