.nebula_tags_adder {
  display: flex;
  flex-direction: row;
  grid-column: 3 / 4;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

.nebula_tagAdderInput_page {
  .tags_adder_placeholder {
    color: #aab1bb;
    cursor: pointer;
    padding: 9px 0;
  }
}

.nebula_tagAdderInput_popup {
  border-bottom: 1px solid var(--Black);
  .tags_adder_placeholder {
    color: #aab1bb;
    cursor: pointer;
    padding: 0 0 6px 0;
  }
}

.nebula_tags_input {
  border: 1px solid var(--Black);
  border-radius: 3px;
  padding: 3px 4px;
  &:hover,
  &:focus {
    border: 1px solid var(--Red);
  }
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
}

.nebula_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: auto;
  height: 24px;
  padding: 3px 4px;
  list-style: none;
  border-radius: 3px;
  background: transparent;
  border: 1px solid var(--Black);
}

.nebula_tag_icon {
  display: flex;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--Black, #02020d);
  cursor: pointer;
  padding: 3px;
  border: none;
}

.nebula_tag_icon_add {
  padding: 6px;

  width: 21px;
  height: 21px;
}
