.nebula_toggle {
  display: grid;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
  font-weight: 300;
  font-size: 16px;
}
.nebula_toggle-btn {
  position: relative;
  width: 138px;
  height: 53px;
  margin: 0 0;
  border-radius: 26.5px;
  border: 1px;
  margin: 0 10px;
  justify-self: center;
}

.nebula_checkbox_input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#_1st_toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 1px solid var(--Black, #02020b);
  overflow: hidden;
  background-color: var(--Background, #fbfbfb);
  border-radius: 26.5px;
  transition: 0.8s ease border-color;
}

#_1st_toggle-btn span:before {
  content: '';
  position: absolute;
  top: 3.5px;
  width: 43px;
  height: 43px;
  background-color: var(--Black, #02020b);
  border-radius: 22px;
  transform: translate(6px, 0px);
  transition:
    0.4s ease border-radius,
    0.4s ease transform,
    0.6s ease width,
    0.6s ease margin-left,
    0.4s ease background-color;
}

#_1st_toggle-btn .nebula_checkbox_input:checked + span {
  border: 1px solid var(--Black, #02020b);
}

#_1st_toggle-btn .nebula_checkbox_input:checked + span:before {
  background-color: var(--Red, #f05365);
  transform: translate(87px, 0px);
}

/*  --------------------------------- */

.nebula_show_word,
.nebula_show_category {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .nebula_show_toggle_title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }
}

.nebula_show_category:has(.nebula_icon_button_toolip) {
  gap: 16px;
}

.nebula_show_toggle {
  position: relative;
  width: 88px;
  height: 40px;
  margin: 0 0;
  border-radius: 20px;
  border: 1px;
  margin: 0 5px;
  justify-self: center;
}

.nebula_checkbox_input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#show_toggle span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 1px solid var(--Black, #02020b);
  overflow: hidden;
  background-color: var(--Background, #fbfbfb);
  border-radius: 20px;
  transition: 0.8s ease border-color;
}

#show_toggle span:before {
  content: '';
  position: absolute;
  top: 3.5px;
  width: 30px;
  height: 30px;
  background-color: var(--Black, #02020b);
  border-radius: 22px;
  transform: translate(5px, 0px);
  transition:
    0.4s ease border-radius,
    0.4s ease transform,
    0.6s ease width,
    0.6s ease margin-left,
    0.4s ease background-color;
}

#show_toggle span:disabled {
  content: '';
  position: absolute;
  top: 3.5px;
  width: 30px;
  height: 30px;
  background-color: var(--Dark_grey, #aab1bb);
  border-radius: 22px;
  transform: translate(5px, 0px);
  transition:
    0.4s ease border-radius,
    0.4s ease transform,
    0.6s ease width,
    0.6s ease margin-left,
    0.4s ease background-color;
}

#show_toggle .nebula_checkbox_input:checked + span {
  border: 1px solid var(--Black, #02020b);
}

#show_toggle .nebula_checkbox_input:checked + span:before {
  background-color: var(--Red);
  transform: translate(53px, 0px);
}

#show_toggle:hover {
  .nebula_checkbox_input + span:before {
    background-color: var(--Light-black, #282833);
  }

  .nebula_checkbox_input:checked + span:before {
    background-color: var(--Light-red);
  }
}

#show_toggle .nebula_checkbox_input:focus-visible + span {
  outline: 2px solid var(--Red);
}
