/* colors */

:root {
  --Black: hsl(240, 69%, 3%);
  --Red: #f05365;
  --Light-red: #ff697a;
  --Lidght-grey: #e8ecef;
  --Dark-grey: #aab1bb;
  --White: #fff;
  --Background: #fbfbfb;
}

/* fonts */
.title {
  font-size: 24px;
  color: var(--Black, #02020b);
  font-family: Geologica;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button_text {
  color: var(--White, #fff);
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle {
  color: var(--Black, #02020b);
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.main_text {
  color: var(--Black, #02020b);
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mark {
  color: var(--Black, #02020b);
  font-family: Geologica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.pop_text {
  color: var(--Black, #02020b);
  font-family: Geologica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.popup_button_text {
  color: var(--White, #fff);
  font-family: Geologica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
