/* colors */

:root {
  --Black: #02020d;
  --Light-black: #282833;
  --Red: #fd484d;
  --Light-red: #ff697a;
  --Light-grey: #e8ecef;
  --Dark-grey: #aab1bb;
  --White: #ffffff;
  --Background: #f2f5f8;
}

/* fonts */
.nebula_title {
  font-size: 24px;
  color: var(--Black, #02020b);
  font-family: Geologica;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nebula_button_text {
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nebula_subtitle {
  color: var(--Black, #02020b);
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.nebula_main_text {
  color: var(--Black, #02020b);
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.nebula_mark {
  font-family: Geologica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.nebula_pop_text {
  color: var(--Black, #02020b);
  font-family: Geologica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.nebula_popup_button_text {
  color: var(--White, #ffffff);
  font-family: Geologica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
